// Самый лёгкий
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

// Лёгкий
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

// Обычный Лёгкий
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

// Обычный
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

// Средний
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

// Полужирный
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

// Жирный
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

// Сильно Жирный
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

// Супер жирный
@font-face {
    font-family: 'Roboto Slab';
    src: url(./Roboto/RobotoSlab-Black.ttf);
    font-weight: 900;
    font-style: normal;
}