@import '../index.module.scss';

.groupsBlock{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey);
    .name{
        color: var(--grey);
        font-size: 20px;
    }
}